/* #region custom */
body {
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  color: #22343d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

img {
  display: block;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background-color: #02897a;
  color: #fff;
  border-radius: 4px;
}

.bold {
  font-weight: 600;
  font-size: 16px;
}

.title-spacing {
  margin-top: 8px;
}

.green {
  background-color: #02897a;
  fill: #fff;
}

.blue {
  background-color: #4d8dff;
  fill: #fff;
}

.purple {
  background-color: #740a76;
  fill: #fff;
}

.red {
  background-color: #f03e3d;
  fill: #fff;
}

.yellow {
  background-color: #f90;
  fill: #fff;
}

/* #endregion custom */

/* #region Header */
.header {
}

.header-content {
  display: flex;
  align-items: center;
}

.logo-icon {
  display: inline-block;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 26px 0;
  margin-right: 73px;
  margin-left: 237px;
}
.nav-list-item {
  line-height: 1.75;
}
.nav-link {
  padding: 26px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #02897a;
}

.header-btn-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.header-btn-item {
}

.header-btn {
  font-weight: 600;
  padding: 10px 25px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #fff;
  color: #02897a;
  border: 1px solid #02897a;
}

.white {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #bcd0e5;
  padding: 10px 25px;
}

.white:hover,
.white:focus {
  background-color: #02897a;
  color: #fff;
  border: 1px solid #02897a;
}

/* #endregion Header */

/* #region Hero */
.hero {
  padding-top: 100px;
  padding-bottom: 117px;
}
.container {
}
.hero-title {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
.hero-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
.hero-item {
}
.hero-icon {
}
/* #endregion Hero */

/* #region product */
.product {
  padding: 24px 0 68px 0;
  background-color: #f5f5f5;
}

.product-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin: 0 auto 50px;
}
.product-list {
  display: flex;
  gap: 30px;
}
.product-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc((100% - 60px) / 3);
  border: 1px solid #dedede;
  border-radius: 10px;
  padding: 32px 0 34px 0;
}

.product-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  margin-bottom: 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.product-subtitle {
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.38;
  letter-spacing: 0em;
  text-align: center;
}
.product-text {
  line-height: 1.69;
  letter-spacing: 0.01em;
  text-align: center;
  width: 275px;
}

/* #endregion product */

/* #region work-steps */
.work {
  padding-top: 101px;
  padding-bottom: 115px;
}

.work-title {
  font-weight: 700;
  font-size: 34px;
  text-align: center;
  margin-bottom: 73px;
}
.work-list {
  margin-bottom: 78px;
}
.work-item {
  display: flex;
  gap: 80px;
  margin-bottom: 100px;
}

.work-item:last-child {
  margin-bottom: 0;
}
.work-text-box {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.step {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 15px;
}

.work-subtitle {
  font-weight: 600;
  font-size: 24px;
  text-align: center;

  margin-bottom: 16px;
}
.work-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  width: 438px;
}
.work-btn {
  display: block;
  margin: 0 auto;
  background-color: #02897a;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  width: 224px;
  height: 44px;
}

.work-btn:hover,
.work-btn:focus {
  background-color: #fff;
  color: #02897a;
  border: 1px solid #02897a;
}
/* #endregion work-steps */

/* #region join */
.join {
  padding-top: 35px;
  padding-bottom: 45px;
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}

.join-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  width: 537px;
  margin: 0 auto 93px;
}
.join-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.join-item {
  text-align: center;
}
.join-img {
  margin-bottom: 27px;
  margin-right: 325px;
}
.join-subtitle {
  margin-bottom: 16px;
  margin-right: 361px;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16667;
  color: #000;
}
.join-sublist {
  margin-bottom: 12px;
  margin-right: 276px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  text-align: center;
}
.join-subitem {
}
.join-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  color: #000;
}
/* #endregion join */

/* #region Promo */
.promo {
  padding: 50px 0;
}
.container {
}

.promo-box {
  padding: 49px 46px 56px 51px;
  margin: 0 auto;
  border-radius: 32px;
  width: 968px;
  height: 345px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.promo-text-box {
}

.promo-title {
  width: 510px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  margin-bottom: 46px;
  margin-left: 51px;
}
.promo-btn {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  margin-left: 51px;
}

.promo-btn:hover,
.promo-btn:focus {
  background-color: #02897a;
  color: #fff;
  border: 1px solid #fff;
}
.promo-img {
}
/* #endregion Promo */

/* #region Footer */
.footer {
  padding: 50px 0 40px 0;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.social-box {
  margin-right: 146px;
}
.logo-link {
}
.social-list {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 18px;
}
.social-item {
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #edfffc;
  border-radius: 50%;
}

.social-icon {
  fill: none;
  stroke: #02897a;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  stroke: #fff;
}

.resource-box {
  margin-right: 129px;
}
.resource-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
}
.resource-list {
}
.resource-item {
}
.resource-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
}
.legal-box {
  margin-right: 83px;
}
.legal-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 8px;
  width: 105px;
}
.legal-list {
}
.legal-item {
}
.legal-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
}
.subscribe-box {
}
.subscribe-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 30px;
}
.subscribe-form {
}
.form-label {
}
.input-content {
  position: relative;
}
.form-input {
  width: 325px;
  height: 48px;
  padding-left: 42px;
  margin-bottom: 25px;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.form-icon {
  fill: #02897a;
  position: absolute;
  top: 10px;
  left: 12px;
}
.subscribe-btn {
  border-radius: 4px;
  width: 131px;
  height: 39px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #fff;
  color: #02897a;
  border: 1px solid #02897a;
}

.footer-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  margin-top: 10px;
}

/* #endregion Footer */

/* #region Burger */
.box {
  width: 500px;
  margin: 0 auto;
  padding: 200px 0;
}
.burger {
  appearance: none;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: teal;
  cursor: pointer;
}

.burger-icon {
  position: relative;
}

.burger-icon,
.burger-icon::after,
.burger-icon::before {
  width: 50px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
}

.burger-icon::after,
.burger-icon::before {
  content: "";
  position: absolute;
  top: 0;
}

.burger-icon::after {
  top: -10px;
}

.burger-icon::before {
  top: 10px;
}

.burger:checked + .burger-btn .burger-icon {
  background-color: transparent;
}

.burger:checked + .burger-btn .burger-icon::after {
  transform: rotate(45deg);
  top: 0;
}

.burger:checked + .burger-btn .burger-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
/* #endregion Burger */
