/* #region custom */
body {
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  color: #22343d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

img {
  display: block;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  background-color: #02897a;
  color: #fff;
  border-radius: 4px;
}

.bold {
  font-weight: 600;
  font-size: 16px;
}

.title-spacing {
  margin-top: 8px;
}

.green {
  background-color: #02897a;
  fill: #fff;
}

.blue {
  background-color: #4d8dff;
  fill: #fff;
}

.purple {
  background-color: #740a76;
  fill: #fff;
}

.red {
  background-color: #f03e3d;
  fill: #fff;
}

.yellow {
  background-color: #f90;
  fill: #fff;
}

/* #endregion custom */

/* #region Header */
.header {
}

.header-content {
  display: flex;
  align-items: center;
}

.logo-icon {
  display: inline-block;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 26px 0;
  margin-right: 73px;
  margin-left: 237px;
}
.nav-list-item {
  line-height: 1.75;
}
.nav-link {
  padding: 26px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: #02897a;
}

.header-btn-list {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.header-btn-item {
}

.header-btn {
  font-weight: 600;
  padding: 10px 25px;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #fff;
  color: #02897a;
  border: 1px solid #02897a;
}

.white {
  background-color: #fff;
  color: #173a56;
  border: 1px solid #bcd0e5;
  padding: 10px 25px;
}

.white:hover,
.white:focus {
  background-color: #02897a;
  color: #fff;
  border: 1px solid #02897a;
}

/* #endregion Header */

/* #region Hero */
/* #endregion Hero */

/* #region Product */
.product {
  padding: 50px 0 50px 0;
}

.product-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  width: 534px;
  margin: 0 auto 72px;
}
.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 72px;
}
.product-item {
  width: calc((100% - 90px) / 4);
}

.product-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  margin-bottom: 26px;
}

.product-subtitle {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 22px;
}
.product-text {
  line-height: 1.63;
}

.product-btn {
  font-weight: 700;
  font-size: 16px;
  padding: 15px 33px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  display: block;
  margin: 0 auto;
}

.product-btn:hover,
.product-btn:focus {
  color: #02897a;
  background-color: #fff;
  border: 1px solid #02897a;
}
/* #endregion Product */

/* #region Features */
.features {
  padding-top: 54px;
  padding-bottom: 75px;
}

.features-item {
  display: flex;
  align-items: center;
  gap: 84px;
  margin-bottom: 100px;
}

.features-item:last-child {
  margin-bottom: 0;
}

.features-text-content {
  width: 486px;
}

.features-title {
  font-weight: 700;
  font-size: 32px;
  width: 224px;
  margin-bottom: 25px;
}

.features-text {
  margin-bottom: 30px;
  line-height: 1.63;
}

.features-list {
}

.features-item {
}

.sublist-item {
  margin-bottom: 25px;
}

.features-subtitle {
  margin-bottom: 12px;
  line-height: 1.63;
}

.features-item-text {
  margin-bottom: 25px;
  line-height: 1.63;
}

.features-img {
  width: 540px;
}

.features-title-support {
  font-weight: 700;
  font-size: 32px;
  width: 304px;
  margin-bottom: 25px;
}

.support-text {
  line-height: 1.63;
  margin-bottom: 30px;
}

.support-list {
}

.support-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  margin-bottom: 25px;
}

.support-item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  width: 35px;
  height: 35px;
}

.support-item-text {
  line-height: 1.63;
  width: 386px;
}

/* #endregion Features */

/* #region Promo */
.promo {
  padding: 50px 0;
}
.container {
}

.promo-box {
  padding: 49px 46px 56px 51px;
  margin: 0 auto;
  border-radius: 32px;
  width: 968px;
  height: 345px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.promo-text-box {
}

.promo-title {
  width: 510px;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  margin-bottom: 46px;
  margin-left: 51px;
}
.promo-btn {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  background-color: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  margin-left: 51px;
}

.promo-btn:hover,
.promo-btn:focus {
  background-color: #02897a;
  color: #fff;
  border: 1px solid #fff;
}
.promo-img {
}
/* #endregion Promo */

/* #region Footer */
.footer {
  padding: 50px 0 40px 0;
}

.footer-content {
  display: flex;
  justify-content: center;
}

.social-box {
  margin-right: 146px;
}
.logo-link {
}
.social-list {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 18px;
}
.social-item {
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #edfffc;
  border-radius: 50%;
}

.social-icon {
  fill: none;
  stroke: #02897a;
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  stroke: #fff;
}

.resource-box {
  margin-right: 129px;
}
.resource-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
}
.resource-list {
}
.resource-item {
}
.resource-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  color: #22343d;
}
.legal-box {
  margin-right: 83px;
}
.legal-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 8px;
  width: 105px;
}
.legal-list {
}
.legal-item {
}
.legal-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  color: #22343d;
}
.subscribe-box {
}
.subscribe-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  margin-bottom: 30px;
}
.subscribe-form {
}
.form-label {
}
.input-content {
  position: relative;
}
.form-input {
  width: 325px;
  height: 48px;
  padding-left: 42px;
  margin-bottom: 25px;
}

.form-input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #02897a;
}

.form-icon {
  fill: #02897a;
  position: absolute;
  top: 10px;
  left: 12px;
}
.subscribe-btn {
  border-radius: 4px;
  width: 131px;
  height: 39px;
  background-color: #02897a;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
  background-color: #fff;
  color: #02897a;
  border: 1px solid #02897a;
}

.footer-text {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #22343d;
  margin-top: 10px;
}

/* #endregion Footer */

/* #region Burger */
.box {
  width: 500px;
  margin: 0 auto;
  padding: 200px 0;
}
.burger {
  appearance: none;
}

.burger-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: teal;
  cursor: pointer;
}

.burger-icon {
  position: relative;
}

.burger-icon,
.burger-icon::after,
.burger-icon::before {
  width: 50px;
  height: 4px;
  background-color: #fff;
  border-radius: 3px;
}

.burger-icon::after,
.burger-icon::before {
  content: "";
  position: absolute;
  top: 0;
}

.burger-icon::after {
  top: -10px;
}

.burger-icon::before {
  top: 10px;
}

.burger:checked + .burger-btn .burger-icon {
  background-color: transparent;
}

.burger:checked + .burger-btn .burger-icon::after {
  transform: rotate(45deg);
  top: 0;
}

.burger:checked + .burger-btn .burger-icon::before {
  transform: rotate(-45deg);
  top: 0;
}
/* #endregion Burger */
