body {
  font-family: poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #fff;
  color: #22343d;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
}

img {
  display: block;
}

.container {
  width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  background-color: #02897a;
  color: #fff;
  border-radius: 4px;
}

.bold {
  font-weight: 600;
}

/* #region Header */
.header {
  padding-top: 22px;
  padding-bottom: 22px;
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
}

.header-logo-link {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93;
  color: #173a56;
  margin-left: 16px;
  margin-right: 237px;
}

.header-logo {
}

.header-nav-container {
}

.header-nav-list {
  display: flex;
  gap: 30px;
  margin-right: 73px;
}

.header-nav-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.header-item-link {
}

.header-btn-container {
}

.header-btn-list {
  display: flex;
  gap: 21px;
}

.header-btn-item {
}

.header-btn {
  padding: 9px 25px;
}
/* #endregion Header */

/* #region Product */
.product {
  padding-top: 50px;
  padding-bottom: 25px;
}

.product-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  width: 534px;
  margin: 0 auto 72px;
}
.product-list {
  display: flex;
  gap: 30px;
  margin-bottom: 72px;
}
.product-item {
  width: calc((100% - 90px) / 4);
}
.product-subtitle {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 22px;
}
.product-text {
  line-height: 1.63;
}

.product-btn {
  font-weight: 700;
  font-size: 16px;
  padding: 15px 33px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  display: block;
  margin: 0 auto;
}

.product-btn:hover,
.product-btn:focus {
  color: #02897a;
  background-color: #fff;
  border: 1px solid #02897a;
}
/* #endregion Product */
